<div class="card">
    <div class="card-body">
     
    <div class="container mt-4">
    <h2>Acerca de Nosotros</h2>
    <p>
      Bienvenido a nuestra clínica odontológica, donde nos esforzamos por proporcionar servicios de odontología de alta calidad
      a nuestros pacientes. Nuestro equipo de odontólogos altamente calificados está dedicado a brindarle la mejor atención
      odontológica posible.
    </p>
    <p>
      En nuestra clínica, nos especializamos en una variedad de servicios, incluyendo odontología general, odontopediatría,
      endodoncia, ortodoncia y prostodoncia. Nos enorgullece ofrecer un ambiente cálido y acogedor para garantizar que su
      experiencia en la clínica sea cómoda y positiva.
    </p>
    <p>
      Nuestro objetivo es ayudarlo a lograr y mantener una salud bucal óptima. Si tiene alguna pregunta o desea programar
      una cita, no dude en ponerse en contacto con nosotros.
    </p>
  </div>
  <!--  <div class="my-4">
            <ngx-slick-carousel class="carousel" [config]= "slideConfig">
                <div *ngFor="let slide of slides">
                  <img src="{{ slide }}" alt="Slide">
                </div>
              </ngx-slick-carousel>
        </div>        
       -->
       
    </div>
</div>