.user-image {
    width: 40px; /* Ajusta el ancho según tus preferencias */
    height: 40px; /* Ajusta la altura según tus preferencias */
    border: 2px solid #fff; /* Añade un borde blanco */
    object-fit: cover; /* Ajusta la propiedad object-fit según tus necesidades */
}
