.turno-container {
    background-color: #321266;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    max-width: 900px; /* Establece el ancho máximo del contenedor principal */
    margin-left: 10px; /* Centra el contenedor principal en el centro de la página */
    flex:1
  }
