<!-- editar-paciente.component.html -->

<div class="container mt-4">
    <h2>Editar Diagnostico</h2>
    <form [formGroup]="diagnosticoForm" (ngSubmit)="guardarCambios()">
      <div class="form-group">
        <label for="diagnostico">Diagnostico</label>
        <input type="text" class="form-control" id="diagnostico" formControlName="diagnostico" required>
      </div>
      <div class="form-group">
        <label for="fechaTratamiento"> Fecha de tratamiento</label>
        <input type="date" class="form-control" id="fechaTratamiento" formControlName="fechaTratamiento" required>
      </div>
      <div class="form-group">
        <label for="odontologo">Seleccionar Odontólogo:</label>
        <select class="form-control" id="odontologo" formControlName = "odontologo" required>
          <option *ngFor="let odontologo of odontologos" [value]="odontologo">
            {{ odontologo.nombre }} {{ odontologo.apellido }}
          </option>
        </select>

      </div>
    

      
      <!-- Otros campos según tu modelo -->
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
   </form> 
  </div>
  