/* turno.component.css */

.turno-container {
    background-color: #04084C;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.turno-container .content {
    flex: 1; /* El contenido ocupa el espacio restante */
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}

.turno-container img {
    border-radius: 10px; /* Ajusta el valor según sea necesario para bordes más redondos */
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
}
