.turno-container {
    background-color: #91e262;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    max-width: 1000px; /* Ajusta el ancho máximo del contenedor principal */
    height: 170px; /* Ajusta la altura del contenedor principal */
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    margin-right: auto; /* Expande el contenedor hacia la derecha */
  }
  